$fonts-path: '../fonts/';

@font-face {
  font-family:'Inter';
  src: url('#{$fonts-path}Inter Bold.eot');
  src: url('#{$fonts-path}Inter Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Inter Bold.woff2') format('woff2'),
  url('#{$fonts-path}Inter Bold.woff') format('woff'),
  url('#{$fonts-path}Inter Bold.ttf') format('truetype'),
  url('#{$fonts-path}Inter Bold.svg#Inter Bold') format('svg');
  //font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E114;
}

@font-face {
  font-family:'Inter';
  src: url('#{$fonts-path}Inter SemiBold.eot');
  src: url('#{$fonts-path}Inter SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Inter SemiBold.woff2') format('woff2'),
  url('#{$fonts-path}Inter SemiBold.woff') format('woff'),
  url('#{$fonts-path}Inter SemiBold.ttf') format('truetype'),
  url('#{$fonts-path}Inter SemiBold.svg#Inter SemiBold') format('svg');
  //font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E114;
}

@font-face {
  font-family:'Inter';
  src: url('#{$fonts-path}Inter Medium.eot');
  src: url('#{$fonts-path}Inter Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Inter Medium.woff2') format('woff2'),
  url('#{$fonts-path}Inter Medium.woff') format('woff'),
  url('#{$fonts-path}Inter Medium.ttf') format('truetype'),
  url('#{$fonts-path}Inter Medium.svg#Inter Medium') format('svg');
  //font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E114;
}

@font-face {
  font-family:'Inter';
  src: url('#{$fonts-path}Inter Regular.eot');
  src: url('#{$fonts-path}Inter Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Inter Regular.woff2') format('woff2'),
  url('#{$fonts-path}Inter Regular.woff') format('woff'),
  url('#{$fonts-path}Inter Regular.ttf') format('truetype'),
  url('#{$fonts-path}Inter Regular.svg#Inter Regular') format('svg');
  //font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E114;
}

@font-face {
  font-family:'Inter';
  src: url('#{$fonts-path}Inter Light.eot');
  src: url('#{$fonts-path}Inter Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Inter Light.woff2') format('woff2'),
  url('#{$fonts-path}Inter Light.woff') format('woff'),
  url('#{$fonts-path}Inter Light.ttf') format('truetype'),
  url('#{$fonts-path}Inter Light.svg#Inter Light') format('svg');
  //font-display: swap;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E114;
}