// main colors
$main-first-color: red;
$main-second-color: green;
$main-third-color: blue;

// colors
$title-color: #111;
$text-color: #1f1f1f;
$link-hover: #39AFFD;
$input-placeholder-color: #bfbfbf;

// fonts
$font-family-base: 'Inter', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: false;
$body-color: $text-color;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1440px
);