/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
}

/* SECTION HEAD */
.section-head {
  padding: 40px 0;
  margin: 0 0 100px;
  //background: url('../img/head-bg.png') no-repeat center center;

  &__title {
    position: relative;
    margin: 0 0 45px;
    color: $text-color;
    font-size: 44px;
    font-weight: 600;

    sup {
      top: -10px;
      left: 0;
      margin-left: -14px;
      vertical-align: super;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__text {
    max-width: 415px;
    margin: 0 0 30px;
  }

  &__pic {
    img {
      width: 100%;
    }
  }
}

/* SECTION CLIENTS */
.section-clients {
  margin: 0 0 90px;
}

.clients {
  &__head {
    margin: 0 0 85px;
  }

  &__title {
    margin: 0 0 30px;
  }

  &__body {
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 45px 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 1626px;
      height: 100%;
      background: #EBEBEB;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__pic {
    img {
      display: block;
      width: 100%;
      max-width: 240px;
      max-height: 120px;
      margin: 0 auto 20px;
    }
  }
}

/* SECTION BENEFITS */
.section-benefits {
  margin: 0 0 150px;

  &__title {
    margin: 0 0 104px;
    text-align: center;
  }
}

.benefits {
  &__box {
    margin: 0 0 50px;

    &-ico {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 90px;
      height: 90px;
      margin: 0 auto 20px;
      border-radius: 100%;

      svg {
        width: 90px;
        height: 90px;
        overflow: visible;
      }
    }

    &-title {
      margin: 0 0 20px;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }

    &-text {
      max-width: 375px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }
}

/* SECTION CABIN */
.section-cabin {
  margin: 0 0 317px;

  &__title {
    max-width: 750px;
    margin: 0 0 40px;
    font-size: 30px;
  }

  &__subtitle {
    max-width: 615px;
    margin: 0 0 60px;
  }

  &__pic {
    img {
      display: block;
      width: 100%;
      max-height: 500px;
      margin: 0 auto;
    }
  }

  &__pic-text {
    position: absolute;
    top: 86%;
    left: 50%;
    width: 100%;
    max-width: 495px;
    transform: translateX(-50%);
  }
}

/* SECTION MODELS */
.section-models {
  margin: 0 0 145px;

  &__title {
    margin: 0 0 68px;
    text-align: center;

    sup {
      top: -35px;
      left: 4px;
    }
  }
}

.models {
  &__box {
    padding: 15px;
    margin: 0 0 30px;
    @extend %bg-easy-blur;
  }

  &__pic {
    display: block;
    margin: 0 0 30px;

    img {
      width: 100%;
      height: 100%;
      max-height: 395px;
    }
  }

  &__name {
    margin: 0 0 10px;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
  }

  &__text {
    margin: 0 0 33px;
    font-size: 18px;
    line-height: 30px;
  }

  &__box-footer {

  }

  &__link {
    padding-bottom: 10px;
    border-bottom: 1px solid #1f1f1f;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;

    &:hover {
      border-color: $link-hover;
    }
  }
}

/* SECTION VIDEO */
.section-video {
  margin: 0 0 171px;

  &__title {

  }

  .styler-text {
    max-width: 755px;
    margin: -22px 0 0;
  }

  &__text {
    max-width: 750px;
    padding: 40px 0 0 25px;
    font-size: 18px;
    line-height: 30px;
  }
}

.video {
  iframe {
    width: 100%;
    height: 637px;
    padding: 30px;
    @extend %bg-easy-blur;
  }
}

/* SECTION EFFECTS */
.section-effects {
  margin: 0 0 175px;

  &__title {
    margin: 0 0 75px;
    text-align: center;
  }
}

.effects {
  padding: 80px;
  background: linear-gradient(105.23deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 98.12%);

  &__box {
    margin-bottom: 32px;
  }

  &__box-ico {
    width: 90px;
    height: 90px;
    margin: 0 0 20px;
  }

  &__name {
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
  }

  &__text {
    max-width: 480px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }

  &__link {
    &::before, &::after {
      content: '';
      position: absolute;
      top: 9px;
      width: 30%;
      height: 1px;
      background: #D8D8D8;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

/* SECTION FAQ */
.section-faq {
  margin: 0 0 227px;

  &__title {
    margin: 0 0 60px;
    text-align: center;
  }
}

.faq {
  max-width: 1200px;
  margin: 0 auto;

  &__box {
    padding: 30px 0;
    border-bottom: 1px solid #D8D8D8;
    margin: 0 0 10px;

    &.opened {
      .faq__toggler::after {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }

  &__box-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &__question {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  &__toggler {
    position: relative;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    margin: 0;
    outline: none !important;
    background: none;
    font-size: 0;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 2px;
      border-radius: 25px;
      background: #1f1f1f;
      transform: translate(-50%, -50%);
      transition: $transition-base;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__box-body {
    display: none;
  }

  &__answer {
    max-width: 850px;
    margin: 20px 0 0;
    line-height: 27px;
  }
}

/* SECTION TESTIMONIALS */
.section-testimonials {
  margin: 0 0 70px;

  &__title {
    margin: 0 0 35px;
  }
}

.testimonials {
  height: 582px;

  &__box {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &:nth-child(1) {
      top: 22%;
      left: 2.7%;

      .testimonials__content {
        max-width: 326px;
      }
    }

    &:nth-child(2) {
      top: -19%;
      right: 17%;
      flex-direction: row-reverse;
    }

    &:nth-child(3) {
      top: 39%;
      right: 20%;
      flex-direction: row-reverse;
    }
  }

  &__pic {
    img {
      width: 60px;
      height: 60px;
      border: 3px solid #FFFFFF;
      border-radius: 100%;
    }
  }

  &__content {
    position: relative;
    max-width: 440px;
    padding: 20px 20px 20px 52px;
    margin: 0 40px;
    background: #ffffff;
    box-shadow: 8px 17px 23px rgba(0, 0, 0, 0.05);

    &.left {
      &::before {
        right: 100%;
        border-left: none;
        border-right: 15px solid #ffffff;
      }
    }

    &.right {
      &::before {
        left: 100%;
        border-right: none;
        border-left: 15px solid #ffffff;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: auto;
      bottom: auto;
      left: auto;
      border: 7px solid transparent;
      transform: translate(0, -50%);
    }
  }

  &__text {
    position: relative;
    margin: 0 0 24px;
    line-height: 32px;
  }

  &__author {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }

  &__position {
    margin: 0;
    color: #969BAB;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
}

/* SECTION BLOG */
.section-blog {
  margin: 0 0 275px;

  &__title {
    margin: 0 0 70px;
    text-align: center;
  }
}

.blog {
  &__box {
    padding: 30px;
    @extend %bg-easy-blur;

    &-pic {
      display: block;
      margin: 0 0 30px;

      img {}
    }

    &-date {
      margin: 0 0 10px;
      color: #B1B1B1;
      font-weight: 600;
      line-height: 19px;
    }

    &-name {
      margin: 0 0 10px;
      overflow: hidden;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-text {
      max-height: 90px;
      margin: 0 0 35px;
      overflow: hidden;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

/* SECTION REQUEST */
.section-request {
  margin: 0 0 298px;
}

.request {
  &__pic {
    position: absolute;

    &_back {
      top: 0.5%;
      left: -16.6%;
    }

    &_front {
      bottom: -4%;
      right: 22%;
    }
  }
}

/* SECTION SEO */
.section-seo {
  margin: 0 0 287px;

  &__title {
    max-width: 940px;
    margin: 0 0 37px;

    sup {
      position: absolute;
      top: 5.8%;
      left: 39.5%;
    }
  }

  .styler-text {
    max-width: 870px;
    margin: 0 0 40px;
  }

  &__text {
    max-width: 732px;
    padding: 0 0 0 24px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }

  &__pic {
    position: absolute;

    &_front {
      top: -3%;
      left: 21.6%;
    }

    &_back {
      bottom: -6.6%;
      left: -17.3%;
    }
  }
}
