/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  padding: 87px 0;
  background: radial-gradient(85.13% 283.11% at -0.94% 0%, rgba(255, 255, 255, 0.35) 38.33%, rgba(255, 255, 255, 0) 100%);
}

.copyright {}