/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {
}

@media screen and (min-width: 395px) {
  .section-head {
    &__title {
      font-size: 48px;
    }
  }

  .blog {
    &.minimized {
      height: 580px;
    }
  }

  .contact-info {
    &__box {
      &-link {
        font-size: 16px;

        svg {
          display: inline-block;
        }
      }
    }
  }

  .products {
    &__box {
      &-pic {
        img {
          max-width: 500px;
          height: 370px;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .title {
    font-size: 44px;
  }

  .btn {
    padding: 23px 25px;

    svg {
      margin-left: 15px;
    }

    &-lg {
      padding: 27px 30px;
    }
  }

  .styler-text {
    font-size: 30px;
    line-height: 55px;
  }

  .form-wrap {
    padding: 30px;
  }

  .form-control {
    padding: 20px;
  }

  /* HEADER */
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
  }

  .logo {
    padding: 52px 0;
    margin: 0;
  }

  .toolbar {
    padding: 52px 0;

    &::after {
      bottom: 0;
    }

    &.active {
      width: 100%;
      padding: 52px 0;
      margin: -160px 0 0;
    }
  }

  /* CONTENT */
  .section-head {
    &__title {
      font-size: 58px;
    }

    &__text {
      margin: 0 0 70px;
    }
  }

  .clients {
    &__title {
      margin: 0;
    }
  }

  .models {
    &__box {
      padding: 30px;
    }

    &__name {
      font-size: 24px;
    }
  }

  .effects {
    &__link {
      &::before, &::after {
        width: 30%;
      }
    }
  }

  .faq {
    &__box {
      padding: 30px 0;
    }

    &__question {
      font-size: 20px;
    }
  }

  .faq-head {
    &__contacts {
      &-link {
        font-size: 30px;
        line-height: 48px;
      }
    }
  }

  .blog {
    &__box {
      padding: 30px;
    }

    &.minimized {
      height: 1270px;
    }
  }

  .faq-head {
    &__contacts {
      &-ico {
        width: 60px;
        height: 60px;
      }
    }
  }

  .contact-head {
    &__title {
      margin: 0;
    }

    &__address {
      margin: 0 0 90px;
      font-size: 30px;
    }

    &__contacts {
      padding: 0 0 24px;
    }
  }

  .contact {
    &__other-box-name {

    }
  }

  .product {
    &__info-title {
      font-size: 30px;
    }
  }

  .product-description {
    &__title {
      font-size: 44px;
    }

    &__pictures {

    }

    &__pic {
      flex: 1 1 30%;
      margin: 0;
    }
  }

  .about-us {
    &__model {
      &-info {
        border-right: 1px solid #ffffff;
      }
    }
  }

  /* FOOTER */
  .footer-menu {
    &__item {
      width: 33%;
    }
  }
}

@include media-breakpoint-up(md) {
  .title {
    font-size: 60px;
    line-height: 83px;
  }

  /* HEADER */
  .menu {
    display: inline-flex;
  }

  .toolbar {
    &::before {
      right: 0;
      left: auto;
      height: 163px;
      transform: translateX(0);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 1px;
      background: #ffffff;
      transition: all .3s ease 0s;
      transform: translate(-50%, 0);
    }

    &.active {
      width: auto;
      margin: 0;

      &::before {
        width: 60%;
      }

      &::after {
        width: 100%;
        max-width: 428px;
      }
    }
  }

  .toolbar-menu {
    &__dropdown {
      width: 60%;
      height: 100%;
      padding: 235px 60px 70px;

      &.opened {
        transform: translate(0, 0) scaleY(1);
      }
    }
  }

  /* CONTENT */
  .section-head {
    margin: 0;

    &__title {
      font-size: 80px;
    }
  }

  .clients {
    &__body {
      flex-direction: row;
      padding: 95px 0;
    }

    &__pic {
      img {
        max-width: 320px;
      }
    }
  }

  .section-cabin {
    &__pic {
      img {
        max-width: 500px;
        max-height: none;
      }
    }
  }

  .blog {
    &.minimized {
      height: 1099px;
    }
  }

  .news {
    &__name {
      font-size: 60px;
      line-height: 73px;
    }

    &__pic {
      img {
        margin: 0 0 30px;
      }
    }

    &__text {
      &-quote {
        margin: 60px auto 140px;
        font-size: 30px;
        line-height: 55px;

        &::before {
          left: -35px;
        }
      }

      &_lg {
        font-size: 30px;
        line-height: 48px;
      }
    }
  }

  .services {
    &__box-title {
      font-size: 30px;
      line-height: 48px;
    }
  }

  .product {
    &__box {
      flex-direction: row;

      &:nth-child(even) {
        flex-direction: row-reverse;

        .product__info {
          border: none;
          border-left: 1px solid #ffffff;
        }
      }
    }

    &__info {
      width: 50%;
    }

    &__pic {
      width: 50%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .product-description {
    &__title {
      font-size: 60px;
      line-height: 83px;
    }
  }

  .product-custom {
    &__box {
      &-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
      }
    }

    &__switchers {
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      max-width: 330px;

      &_interior {
        .product-custom__switchers-title {
          text-align: right;
        }
      }
    }

    &__switcher {
      &-wrap {
        width: 100%;

        &:not(:last-child) {
          margin: 0 0 20px;
        }
      }
      &-name {
        display: block;
        font-size: 14px;
      }
    }

    &__visually {
      min-height: auto;
    }
  }

  .certificate {
    &__description {
      width: 72%;
    }

    &__pic {
      width: 28%;
    }
  }

  /* FOOTER */
  footer.footer {
    padding: 87px 0 0;
  }
}

@include media-breakpoint-up(lg) {
  .btn {
    svg {
      margin-left: 25px;
    }
  }

  .section-breadcrumb {
    margin: 0 0 120px;
  }

  .clients {
    &__pic {
      img {
        margin: 0 auto;
      }
    }
  }

  .video {
    iframe {
      height: 637px;
      padding: 30px;
    }
  }

  .effects {
    padding: 80px;

    &__link {
      &::before, &::after {
        top: 9px;
      }
    }
  }

  .testimonials {
    &__box {
      flex-direction: row;

      &:nth-child(2) {
        justify-content: flex-end;
      }
    }

    &__pic {
      margin: 0;
    }

    &__content {
      padding: 20px 20px 20px 52px;
      margin: 0 40px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: 7px solid transparent;
        border-left: none;
        border-right: 15px solid #ffffff;
        transform: translate(0, -50%);
      }
    }

    &__text {
      svg {
        left: -30px;
        width: 16px;
        height: 14px;
      }
    }
  }

  .blog {
    &.minimized {
      height: 520px;
    }
  }

  .latest-news {
    margin: 0 0 223px;

    &__content {
      position: absolute;
      bottom: -110px;
      left: 50%;
      padding: 30px;
      transform: translate(-50%, 0);
    }
  }

  .contact-head {
    &__contacts {
      flex-direction: row;
      align-content: center;
      align-items: center;

      &-item {
        margin-bottom: 0;
      }
    }
  }

  .partners {
    &__box {
      padding: 30px;
    }
  }

  .products {
    &__box {
      &-content {
        width: 50%;
      }

      &-pic {
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .product-card {
    &__wrap {
      flex-direction: row;
    }

    &__info {
      border: none;
      border-right: 1px solid #ffffff;

      &-box {
        padding: 30px;
      }
    }
  }

  .product-custom {
    &__switcher {
      &-name {
        font-size: 16px;
      }
    }
  }

  .about-us {
    &__model {
      &-info {
        border: none;
      }

      &-description {
        padding: 0 60px;
      }
    }
  }

  .certificate {
    &__box {
      align-content: stretch;
      align-items: stretch;
    }

    &__description {
      padding: 30px 60px;
    }

    &__pic {

    }
  }

  /* FOOTER */
  .social {
    padding: 33px 0 0;

    &__content {
      justify-content: flex-start;
    }
  }

  .footer-menu {
    text-align: left;

    &__item {
      width: 50%;
    }
  }

  .footer-contacts {
    &__row {
      align-content: flex-start;
      align-items: flex-start;
    }
  }
}

@include media-breakpoint-up(xl) {
  .menu {
    order: 0;
    justify-content: flex-start;
    padding: 0 15px;
  }

  .form-wrap {
    max-width: none;
    margin: 0;
  }

  .toolbar {
    &.active {
      &::before {
        width: 40%;
      }
    }
  }

  .toolbar-menu {
    &__dropdown {
      width: 40%;
    }
  }

  .section-head {
    padding: 86px 0 318px;

    &__pic {
      img {
        width: auto;
      }
    }
  }

  .section-clients {
    margin: 0 0 185px;
  }

  .section-benefits {
    margin: 0 0 308px;
  }

  .section-cabin {
    &__pic {
      img {
        width: auto;
        max-width: none;
        margin: -40px 0 0 75px;
      }
    }

    &__pic-text {
      position: absolute;
      top: 86%;
      left: 16px;
      max-width: 495px;
      transform: translate(0, 0);
    }
  }

  .section-models {
    margin: 0 0 290px;
  }

  .models {
    &__box {
      margin: 0;
    }
  }

  .section-video {
    margin: 0 0 171px;
  }

  .section-effects {
    margin: 0 0 175px;
  }

  .section-faq {
    margin: 0 0 227px;
  }

  .section-faq-head {
    margin: 0 0 150px;
  }

  .section-faq-inner {
    margin: 0 0 160px;
  }

  .section-blog {
    margin: 0 0 245px;
  }

  .section-request {
    margin: 0 0 298px;
  }

  .request {
    &__pic {
      position: absolute;
      display: block;

      &_back {
        top: 0.5%;
        left: -16.6%;
      }

      &_front {
        bottom: -4%;
        right: 22%;
      }
    }
  }

  .section-seo {
    margin: 0 0 287px;

    &__title {
      sup {
        position: absolute;
        top: 10%;
        left: 38.5%;
      }
    }
  }

  .section-advantages {
    margin: 0 0 210px;
  }

  .section-services {
    margin: 0 0 160px;
  }

  .section-navigation {
    margin: 0 0 240px;
  }

  .section-map {
    margin: 0 0 140px;
  }

  .section-contact {
    margin: 0 0 240px;
  }

  .contact-head {
    &__contacts {
      &-item {
        svg {
          margin-right: 20px;
        }
      }
    }
  }

  .section-partners {
    margin: 0 0 210px;
  }

  .section-product {
    margin: 0 0 180px;
  }

  .section-products {
    margin: 0 0 160px;
  }

  .section-product-description {
    margin: 0 0 240px;
  }

  .section-about-us {
    margin: 0 0 180px;
  }

  .section-certificate {
    margin: 0 0 240px;
  }

  .section-product-card {
    margin: 0 0 165px;
  }

  .section-product-custom {
    margin: 0 0 240px;
  }
}

@include media-breakpoint-up(xxl) {
  /* HEADER */
  .header-content {
    padding: 0;
  }

  .menu {
    display: inline-flex;
    padding: 52px 20px 52px 49px;
  }

  .toolbar {
    &::before {
      display: none;
    }

    &.active {
      width: auto;
      margin: 0;
    }
  }

  .toolbar-menu {
    &__dropdown {
      position: absolute;
      top: 0;
      left: 50%;
      justify-content: space-between;
      width: 428px;
      overflow: visible;
      transform: translate(-50%, 0) scaleY(0);

      &.opened {
        transform: translate(-50%, 0) scaleY(1);
      }
    }

    &__dropdown-link {
      width: auto;
      margin: 0 !important;
      text-align: left;

      &.replacement {
        display: none;
      }
    }
  }

  /* CONTENT */
  .section-head {
    &__title {
      font-size: 90px;
    }
  }

  .models {
    &__name {
      font-size: 30px;
    }
  }

  .section-video {
    .styler-text {
      margin: -22px 0 0;
    }
  }

  .testimonials {
    height: 582px;

    &__box {
      position: absolute;

      &:nth-child(1) {
        top: 22%;
        left: 2.7%;

        .testimonials__content {
          max-width: 326px;
        }
      }

      &:nth-child(2) {
        top: -19%;
        right: 17%;
        flex-direction: row-reverse;
      }

      &:nth-child(3) {
        top: 39%;
        right: 20%;
        flex-direction: row-reverse;
      }
    }

    &__content {
      &.left {
        &::before {
          right: 100%;
          border-left: none;
          border-right: 15px solid #ffffff;
        }
      }

      &.right {
        &::before {
          left: 100%;
          border-right: none;
          border-left: 15px solid #ffffff;
        }
      }
    }
  }

  .section-seo {
    &__pic {
      position: absolute;
      display: block;

      &_front {
        top: -3%;
        left: 21.6%;
      }

      &_back {
        bottom: -6.6%;
        left: -17.3%;
      }
    }
  }

  .blog {
    &__box {
      &-name {
        font-size: 30px;
      }

      &-text {
        font-size: 18px;
      }
    }

    &.minimized {
      height: 638px;
    }
  }

  .product-description {
    &__pictures {

    }

    &__pic {
      img {
        width: 450px;
        height: 450px;
      }
    }
  }

  .product-card {
    &__info {
      &-box {
        &-footer {
          .btn {
            width: 100%;
          }
        }
      }
    }
  }

  .about-us {
    &__model {
      &-info {
        border-right: 1px solid #ffffff;
      }
    }
  }

  /* FOOTER */
  .footer-contacts {
    padding: 0;
    margin: 0;

    &__row {
      flex-direction: row;

      &:not(:last-child) {
        margin: 0 0 19px;
      }
    }

    &__name {
      max-width: 125px;
      width: 100%;
      margin-right: 60px;
    }

    &__info {

    }
  }
}

// max-width
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
